/*
----------------------------------------------------------------------
About Me
----------------------------------------------------------------------
*/
#about-section {
  .h2 {
    position: relative;
    text-align: center;
  }
  .boxstyle-container {
    width: 340px;
    height: 110px;
    z-index: 201;
  }
  .tabs {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    background: transparent;
    border: none;
    &:before,
    &:after {
      display: none;
    }
  }
  .tabs-content {
    position: relative;
    margin-top: 30px;
    width: 100%;
    background: transparent;
    border: none;
  }
  .tabs-title {
    position: relative;
    &:nth-of-type(2) {
      margin: 0 5%;
    }
    &.is-active {
      .boxstyle-container {
        box-shadow: inset 0px 0px 0px 5px #c8cdd0;
      }
    }
  }
  .tabs-title > a:focus,
  .tabs-title > a[aria-selected="true"],
  .tabs-title > a:hover {
    background: none;
    color: white;
  }
  .tabs-panel {
    padding: 0;
  }
  .is-active#about-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .is-active#about-interests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #about-skills1,
  #about-skills2 {
    flex: 1 1 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
    .h3 {
      width: 100%;
    }
    ul {
      margin-right: 80px;
    }
  }
  .tabs-content .diamond {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    box-shadow: inset 0px 0px 0px 2px $black;
  }
  .diamond.green {
    background: green;
  }
  .diamond.orange {
    background: orange;
  }
  .diamond.red {
    background: red;
  }
  #about-interests1,
  #about-interests2,
  #about-interests3,
  #about-interests4,
  #about-interests5,
  #about-interests6,
  #about-interests7 {
    flex: 1 1 25%;
  }
  #about-interests5,
  #about-interests6,
  #about-interests7 {
    flex-basis: 100%;
  }
  #about-interests7 li {
    display: inline-block;
    margin-right: 5px;
    a {
      margin-right: 10px;
      &:hover {
        .diamond {
          background: white;
        }
      }
    }
  }
}

@include breakpoint(small) {
  #about-section {
    height: auto;
    margin-bottom: 100px;
  }
  #about-section .tabs {
    flex-wrap: wrap;
    justify-content: center;
  }
  #about-section .tabs-title:nth-of-type(2) {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  #about-section .boxstyle-container {
    width: 150px;
  }
  .boxstyle-container p {
    font-size: 10px;
  }
  #about-section .tabs-title:nth-of-type(3) .boxstyle-container {
    width: 250px;
  }
  #about-section .boxstyle-left {
    display: none;
  }
  #about-section .boxstyle-right {
    display: none;
  }
}
