.off-canvas-wrapper{
  height: 100vh;
}
#open-canvas{
  position: absolute;
  z-index: 5;
  background: transparent;
  color: $medium-gray;
}
.position-left{
  overflow-x: hidden;
}
.off-canvas .close-button, #open-canvas{
  text-transform: uppercase;
  font-size: 11px;
  z-index: 5;
}
.off-canvas .close-button{
  color: $medium-gray;
  margin: 8px 0 15px 0;
  padding: 0.85em 1em;
}
.js-off-canvas-overlay, .off-canvas{
  background: transparent;
}
#triangle-topleft, #triangle-topright {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5em solid lighten( black, 20% );
}
#triangle-topleft{
  border-right: 70vw solid transparent;
  left: 0;
}
#triangle-topright {
  border-left: 70vw solid transparent;
  right: 0;
}
.off-canvas .h1{
  margin-top: 100px;
  text-align: center;
  letter-spacing: 7px;
}
.off-canvas .h6, .off-canvas .h5{
  text-align: center;
  letter-spacing: 2px;
}
#rec-github{
  position: relative;
  text-align: center;
}
#developer-projects{
  margin: 0 .5em;
  .dp-cell{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
    margin: 25px 0;
    &:nth-child(even){
      flex-direction: row-reverse;
    }
    img{
      padding: 5px;
      object-fit: cover;
      border: 1px solid $white;
    }
    .dp-cell-content{
      width: 100%;
      padding: 5px 5px 5px 5px;
      .h5{
        border-bottom: 1px solid $white;
        width: inherit;
        margin: 0 auto 20px;
      }
      .h6{
        text-align: left;
      }
      .h5, .h6{
        @include heading;
      }
      p, li{
        color: $light-gray
      }
      a{
        position: relative;
        display: block;
        text-align: center;
        margin-top: 15px;
      }
      ul{
        list-style-type: disc;
        padding-left: 30px;
      }
    }
  }
}
#designer-projects{
  margin: 0 .5em;
  display: flex;
  flex-wrap: wrap;
  >div{
    position: relative;
    &:hover{
      .desp-content{
        top: 0;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
    img{
      cursor: pointer;
      border: 1px solid $white;
      padding: 5px;
    }
    a{
      position: relative;
      display: block;
      text-align: center;
      margin-top: 10px;
    }
    .desp-content{
      transition: all 400ms ease-in;
      top: 410px;
      .h5, .h6{
        @include heading;
      }
      .h6{
        text-align: left;
      }
      ul{
        list-style-type: disc;
        padding-left: 30px;
      }
    }
  }
}
@include breakpoint(large)
{
  #triangle-topleft, #triangle-topright{
    border-top-width: 150px;
  }
  hr{
    max-width: inherit;
  }
  #developer-projects, #designer-projects, .beams{
    margin: 0 1.5em;
  }
  #developer-projects .dp-cell, #designer-projects{
    flex-wrap: nowrap;
  }
  #developer-projects .dp-cell img{
    width: 50%;
  }
  #developer-projects .dp-cell .dp-cell-content{
    width: 50%;
    padding: 5px 5px 5px 25px;
  }
  #designer-projects > div{
    margin: 30px;
  }
}
@include breakpoint(xlarge)
{
  #developer-projects .dp-cell .dp-cell-content a{
    margin-top: 0px;
  }
  #designer-projects > div{
    margin: 50px;
    overflow: hidden;
  }
  #designer-projects > div img{
    border: none;
    padding: 0px;
  }
  #designer-projects > div .desp-content{
    position: absolute;
  }
  #designer-projects > div:hover img{
    filter: blur(6px);
  }
  #designer-projects > div:hover .desp-content{
    height: 100%;
  }
}

