/*
----------------------------------------------------------------------
Contact
----------------------------------------------------------------------
*/
#contact-section{
  #contact-wrapper{
    position: relative;
    display: flex;
    max-width: 900px;
    height: 80%;
    flex-wrap: wrap;
    padding-top: 30px;
    margin: auto;
  }
  #contact-photo{
    margin-right: 15px;
  }
  #photo-me{
		width: 250px;
    height: 250px;
  }
  .h2{
    position: relative;
    text-align: center;
  }
  #contact-content{
    width: 100%;
    margin-top: 15px;
  }
  .wpcf7-form-control-wrap{
    position: static;
  }
  .wpcf7{
    p{
			position: relative;
			width: 100%;
      margin-right: 40px;
    }
    label{
      margin: 0;
      color: $black;
      font-weight: 600;
      text-transform: uppercase;
      background: $white;
      padding: 0px 7px;
      font-size: 16px;

    }
    br{
      display: none;
    }
    input:not(.wpcf7-submit), textarea{
      border-radius: 0;
      color: $primary-color;
      border: none;
      background: transparent;
      margin-bottom: 1.1rem;
      &:focus, &:active{
        box-shadow: none;
      }
    }
    form{
      p{
        &:nth-of-type(5){
          margin: 0 auto;
        }
      }
    }
    span[role=alert]{
      position: absolute;
      width: 100%;
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, #c02e3a 45%);
      top: 20px;
      right: 0;
      text-align: end;
      padding: 0px 5px 0px 0px;
      font-size: 0.6em;
    }
    .your-email{
      span[role=alert]{
        padding-left: 0;
      }
    }
    .ajax-loader{
      display: none;
    }
    .wpcf7-submit{
      position: relative;
      display: block;
      background: transparent;
      border-radius: 0;
      width: 100%;
      border: 2px solid $white;
      color: $white;
      padding: 10px;
      cursor: pointer;
      text-transform: uppercase;
      &:hover{
        color: $secondary-color;
        box-shadow: inset 0px 0px 10px 0px $secondary-color;
      }
    }
    .wpcf7-response-output {
      display: block;
      margin: 0;
      border: none;
      font-size: 14px;
      text-align: center;
      color: $primary-color;
      text-shadow: 0px 0px 15px $primary-color;
    }
  }
}