/*
----------------------------------------------------------------------
Experience - Saturn
----------------------------------------------------------------------
*/
#experience-section{
  #experience-sectionBG{
    background-image: url(assets/images/saturnMap.jpg);
  }
  #education-wrapper, #experience-orbit, #edu-projects{
    overflow: hidden;
  }
  #experience-wrap{
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
  }
  .h4, .h5{
    @include heading;
    margin-bottom: 5px;
    text-align: center;
  }
  .h5{
    box-shadow: none;
  }
  .h4{
    span{
      display: block;
      font-size: 16px;
      margin: 0;
      box-shadow: 0px 4px 5px -4px $white;
      text-shadow: none;
    }
  }
  .orbit-bullets{
    p:last-of-type{
      position: relative;
      top: 20px;
    }
    button:last-of-type p:last-of-type{
      top: 30px;
    }
  } 
  .education-hoveractive{
    text-align: center;
    flex: 1;
    height: 160px;
    &:first-of-type{
      .circle-spin{
        animation: eduCircleSpin 3s linear infinite;
      }
    }
    &:nth-of-type(2){
      .circle-spin{
        animation: eduCircleSpin 5s linear infinite;
      }
    }
    &:last-of-type{
      .circle-spin{
        animation: eduCircleSpin 4s linear infinite;
      }
    }
    p{
      position: relative;
      border-radius: 50%;
      width: 50px; 
      height: 50px;
      border: 1px solid $secondary-color;
      text-align: center;
      margin: 0 auto;
      cursor: pointer;
      z-index: 10;
      color: transparent;
      box-shadow: 0px 0px 11px -3px $secondary-color;
      .circle-base{
        position: absolute;
        right: 0;
        bottom: 0;
        color: $white;
        opacity: 0.1;
        font-size: 20px;
        left: -5px;
        top: 10px;
      }
      .circle-spin{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50%;
        .circle-spin-inner{
          background: $white;
          position: absolute;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          top: -3px;
        }
      }
      #circle-spin-2{
        border: 1px solid $secondary-color;
        width: 65px;
        height: 65px;
        top: -8px;
        left: -8px;
      }
      #circle-spin-3{
        border: 1px solid $secondary-color;
        width: 35px;
        height: 35px;
        top: 7px;
        left: 7px;
      }
    }
    ul{
      width: max-content;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      transition: all 500ms ease-out;
      opacity: 0;
      li{
        font-size: 12px;
      }
      span{
        margin-left: 10px;
        color: $primary-color;
      }
    }
    ul.edu-fadein{
      animation: opacity 500ms ease-in 150ms forwards;
    }
  }
  #education-content{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  #edu-projects{
    ul{
      padding-left: 20px;
      li{
        display: inline-block;
        margin-left: 30px;
        &:before{
          content: "\2022"; 
          color: $primary-color;
          font-weight: bold;
          display: inline-block; 
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }
}
@include breakpoint (medium){
  #experience-section .orbit-bullets p:last-of-type, #experience-section .orbit-bullets button:last-of-type p:last-of-type{
    top: 0;
  }
}
@include breakpoint (xlarge){
  #experience-section #experience-wrap{
    background-color: rgba(0,0,0,0);
  }
  #experience-section .education-hoveractive p .circle-base{
    font-size: 30px;
    left: -4px;
    top: 18px;
  }
  #about-section .orbit-bullets p:last-of-type, #experience-section .orbit-bullets p:last-of-type{
    font-size: 12px;
  }
  #experience-section .orbit-bullets button{
    max-width: 260px;
  }
  #experience-section .education-hoveractive p{
    width: 80px;
    height: 80px;
  }
  #experience-section .education-hoveractive p #circle-spin-2{
    width: 95px;
    height: 95px;
  }
  #experience-section .education-hoveractive p #circle-spin-3{
    width: 65px;
    height: 65px;
  }
  #experience-section .education-hoveractive{
    height: 180px;
  }
}