/*
----------------------------------------------------------------------
Combined Sections
----------------------------------------------------------------------
*/
.section-imp{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#about-sectionBG, #cloudyne-sectionBG, #experience-sectionBG, #contact-sectionBG{
  @include section-planets;
}
#about-section .orbit, #previous-work, #cloudyne-heading, #cloudyne-section .tabs, #cloudyne-section .tabs-content, #education-wrapper, #experience-orbit, #edu-projects, #contact-wrapper {
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 10px;
}
#about-section .orbit-bullets,
#experience-section .orbit-bullets {
  display: flex;
  text-align: left;
  padding: 5px;
  justify-content: space-between;
  button {
    position: relative;
    width: 100px;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    color: $white;
    text-align: center;
    cursor: pointer;
    &:hover {
      .material-icons-outlined {
        color: $secondary-color;
        box-shadow: inset 0px 0px 10px 0px $secondary-color;
      }
    }
    .material-icons-outlined {
      position: relative;
      padding: 5px;
      border: 1px solid $white;
      font-size: 24px;
      background: $gradient-tblack;
    }
    >div {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      bottom: 15px;
      background: #ffffff;
    }
  }
  p:last-of-type {
    display: block;
    font-size: 10px;
    margin: 0;
    color: $primary-color;
    text-shadow: 0px 0px 15px $primary-color;
  }
  #orbit-bullet-heading {
    display: inline-block;
    margin: 0;
    color: $gradient-tblack;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 0;
  }
  button.is-active {
    &:before{
      background: rgba(0,0,0,0);
    }
    #orbit-bullet-heading{
      color: $white;
    }
    .material-icons-outlined {
      color: $secondary-color;
      box-shadow: inset 0px 0px 10px 0px $secondary-color;
    }
  }
}
#about-section .orbit-slide, #experience-section .orbit-slide{
  border-top: 1px solid $white;
  padding: 25px 0px 10px 0px;
}

@include breakpoint(medium){
  #about-section .orbit-bullets button, #experience-section .orbit-bullets button{
    text-align: left;
    width: 300px;
    max-width: 230px;
  }
  #about-section .orbit-bullets button .material-icons-outlined, #experience-section .orbit-bullets button .material-icons-outlined{
    font-size: 36px;
  }
  #about-section .orbit-bullets button:before, #experience-section .orbit-bullets button:before{
    top: 0px;
    bottom: 25px;
  }
}

@include breakpoint(xlarge)
{
  #about-section .orbit, #previous-work, #cloudyne-heading, #cloudyne-section .tabs, #cloudyne-section .tabs-content, #education-wrapper, #experience-orbit, #edu-projects, #contact-wrapper{
    @include content-margin;
    padding: 0px;
  }
  
  #about-section .orbit-bullets button .material-icons-outlined, #experience-section .orbit-bullets button .material-icons-outlined{
    font-size: 48px;
  }
  #about-section .orbit-bullets #orbit-bullet-heading, #experience-section .orbit-bullets #orbit-bullet-heading{
    font-size: inherit;
    padding: 0px;
  }
  #about-section .orbit-bullets p:last-of-type, #experience-section .orbit-bullets p:last-of-type{
    font-size: 14px;
  }
  #about-section .orbit-bullets button:before, #experience-section .orbit-bullets button:before{
    bottom: 37px;
  }
  #about-section .orbit-slide, #experience-section .orbit-slide{
    padding: 25px 10px 10px 0px;
  }
}
@include breakpoint(xxlarge)
{
  #about-section .orbit-bullets button, #experience-section .orbit-bullets button{
    max-width: 300px;
  }
}