/*
----------------------------------------------------------------------
Greeting
----------------------------------------------------------------------
*/
.datapad{
    top: 0vh;
    position: absolute;
    width: auto;
    height: auto;
    min-height: auto;
    max-height: fit-content;
    left: 0;
    right: 0;
    margin: 10px;
    color: $white;
    box-shadow: inset -3px 0px 7px 1px $primary-color, 0px 0px 10px 1px $primary-color;
    animation: glowContainerFlicker 70ms infinite linear;
    background: linear-gradient(to bottom, $gradient-tblack 10%, #20202c 100%);
    border: 1px solid $primary-color;
    padding: 2rem 1rem 4rem;
    text-align: center;
    z-index: 10;
  .datapad-pad{
    .h1{
      @include heading;
      text-align: center;
      padding-bottom: 2rem;
    }
  }
  p, .close-button{
    color: $white;
  }
  p{
    position: relative;
  }
  .close-button{
    &:hover{
      color: $primary-color;
    }
  }
}
@include breakpoint (medium){
  .datapad{
    position: relative;
    padding: 2rem 2rem 4rem;
  }
  .reveal.small{
    width: 90%;
    max-width: 700px;
  }
}
@include breakpoint(xlarge){
  #about-sectionBG, #cloudyne-sectionBG, #experience-sectionBG, #contact-sectionBG{
    width: 650px !important;
    height: 650px !important;
  }
}