/*
----------------------------------------------------------------------
Header
----------------------------------------------------------------------
*/
.c2a-button{
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  .material-icons-outlined{
    position: relative;
    width: 24px;
    right: 0px;
    text-shadow: 0px 0px 6px $secondary-color;
    transition: all 300ms ease-out;
    animation: buttonFlash 1.5s infinite ease-out;
  }
  p{
    position: relative;
    margin: 0;
    opacity: 1;
    color: $white;
  }
  &:focus, &:hover{
    color: $white;
  }
}
.c2a-button.expand-button{
  .material-icons-outlined{
    right: 0px;
    transition: all 300ms ease-out;
    &:last-of-type{
      right: 0px;
    }
  }
  p{
    opacity: 1;
    transition: all 500ms ease-out;
  }
}
.main-header{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  h1, h2{
    position: relative;
    display: block;
    letter-spacing: 8px;
    font-weight: bold;
    margin-bottom: 5px;
    @include heading;
  }
  h2{
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 100;
    letter-spacing: 4px;
  }
  h1{
    padding-left: 8px;
    width: max-content;
    margin: 0 auto 10px;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 90px;
      bottom: -58px;
      height: 36px;
      bottom: -22px;
      left: 0;
      border-top: 4px;
      border-top-color: #131220;
      border-radius: 50%;
      border-top-style: solid;
    }
  }
  
  #hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  #hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    -o-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
  }
  #hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    -o-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
  }
  #hamburger-menu{
    position: fixed;
    bottom: 0px;
    left: 10px;
    z-index: 10;
    &:hover{
      .line{
        box-shadow: 0px 0px 3px 1px $secondary-color;
      }
    }
  }
  #hamburger.is-active .line{
    width: 15px;
  }
  #hamburger {
    position: relative;
    width: 30px;
    bottom: -4px;
    cursor: pointer;
    .line {
      width: 25px;
      height: 1px;
      margin: 5px auto;
      background-color: #fefefe;
      display: block;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
  #boring-nav{
    position: fixed;
    z-index: 9;
    width: auto;
    height: auto;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid $primary-color;
    box-shadow: 0px 0px 3px 0px $primary-color;
    border-bottom: none;
    border-right: none;
    transition: all 500ms ease-in;
    opacity: 0;
    .menu{
      height: 100%;
      justify-content: center;
      align-items: center;
      opacity: 0;
      li{
        display: none;
        a{
          padding: 0.5rem 1rem;
          font-size: 11px;
          color: $white;    
          position: relative;
          text-transform: uppercase;
          &:hover{
           @include heading;
          }
        }
      }
    }
  }
  #boring-nav.expand-nav{
    width: 100%;
    padding-left: 40px;
    opacity: 1;
    //animation: Flicker 500ms 1s ease-in;
    transition: all 500ms ease-in;
    background-color: #181825;
    .menu{
      opacity: 1;
      transition: opacity 500ms 250ms ease-in;
      li{
        display: block;
      }
    }
  }
  .grid-container{
    #planet-content{
      position: absolute;
      top: 40vh;
      width: inherit;
      text-align: center;
      width: 70%;
      right: 10px;
      z-index: 2;
    }
    .planet-nav{
      .cell{
        div{
          cursor: pointer;
          &:hover{
            box-shadow: 0px 0px 12px 0px $secondary-color !important;
          }
        }
      }
      #home-nav{
        #home{
          position: relative;
          background-image: url(assets/images/planets/earth-mapMobile.jpeg);
          margin: 0 auto;
          border-radius: 50%;
          background-size: cover;
          box-shadow: inset 0px -1px 7px -4px #ffffff;
          &:hover{
            border-radius: 50%;
            box-shadow: 0px 0px 12px 0px $secondary-color !important;
          }
          &:after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            border-radius: 50%;
            background: radial-gradient(circle at top, rgba(0, 0, 0, 0.59) 15%, rgba(0, 0, 0, 0.23) 80%, rgba(255, 255, 255, 0.49) 100%);
            cursor: pointer;

          }
        }
      }
      #about, #cloudyne, #experience, #contact{
        position: relative;
        top: 15vh;
        border-radius: 50%;
        margin: 0 auto;
        background-size: cover;
        box-shadow: inset 0px -2px 6px 0px #636363;
      }
      #about{
        background-image: url(assets/images/planets/mars-mapMobile.jpeg);
        width: 50px;
        height: 50px;
      }
      #cloudyne{
        background-image: url(assets/images/planets/jupiter-mapMobile.jpeg);
        width: 100px;
        height: 100px;
      }
      #experience{
        background-image: url(assets/images/planets/saturn-mapMobile.jpeg);
        width: 75px;
        height: 75px;
      }
      #contact{
        background-image: url(assets/images/planets/pluto-mapMobile.jpeg);
        width: 25px;
        height: 25px;
      }
    }
    .planet-nav.grid-y{
      height: 92vh;
      width: 30%;
      margin-top: 3vh;
      #about, #cloudyne, #experience, #contact{
        position: relative;
        top: 30%;
        border-radius: 50%;
        margin: 0 auto;
        background-size: cover;
        box-shadow: inset 0px -2px 6px 0px #636363;
        width: 50px;
        height: 50px;
      }
      #home-nav #home{
        top: 30%;
        width: 50px;
        height: 50px;
      }
    }
  }
  #game-link{
    width: 60px;
    position: absolute;
    bottom: -9px;
    right: -6px;
    -ms-transform: rotate(30deg);
    transform: rotate(-30deg);
    >div{
      position: absolute;
      display: none;
      transform: rotate(30deg);
      width: 260px;
      font-size: 13px;
      right: -40px;
      top: -50px;
    }
  }
}
#star-container{
  position: fixed;
  width: 100%;
  height: 150vh;
  top: -35%;
  transform: rotateZ(45deg);
}
.shooting-star {
  position: absolute;
  top: 68%;
  left: 50px;
  height: 1px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0,0,255,0));
  border-radius: 50%;
  filter: drop-shadow(0 0 6px $gradient-bblue);
  animation: tail ease-in-out infinite, shooting ease-in-out infinite;
  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 1px;
    background: linear-gradient(-45deg, rgba(0,0,255,0), #5f91ff, rgba(0,0,255,0));
    -ms-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 50%;
    animation: shining ease-in-out infinite;
  }
  &:nth-of-type(2){
    background: linear-gradient(-45deg, rgba(139, 144, 156, 0.3), rgba(0, 0, 255, 0));
    &:before{
      background: linear-gradient(-45deg, rgba(0,0,255,0), rgba(139, 144, 156, 0.3), rgba(0,0,255,0));
    }
  }
  &:nth-of-type(3){
    background: linear-gradient(-45deg, rgba(63, 79, 113, 0.5), rgba(0, 0, 255, 0));
    &:before{
      background: linear-gradient(-45deg, rgba(0,0,255,0), rgba(63, 79, 113, 0.5), rgba(0,0,255,0));
    }
  }
  &:nth-of-type(4){
    background: linear-gradient(-45deg, rgba(139, 144, 156, 0.6), rgba(0, 0, 255, 0));
    &:before{
      background: linear-gradient(-45deg, rgba(0,0,255,0), rgba(139, 144, 156, 0.6), rgba(0,0,255,0));
    }
  }
  &:nth-of-type(5){
    background: linear-gradient(-45deg, rgba(139, 144, 156, 0.8), rgba(0, 0, 255, 0));
    &:before{
      background: linear-gradient(-45deg, rgba(0,0,255,0), rgba(139, 144, 156, 0.8), rgba(0,0,255,0));
    }
  }
}
@include breakpoint(medium)
{
  .main-header .grid-container .planet-nav.grid-y #about, .main-header .grid-container .planet-nav.grid-y #cloudyne, .main-header .grid-container .planet-nav.grid-y #experience, .main-header .grid-container .planet-nav.grid-y #contact, .main-header .grid-container .planet-nav.grid-y #home-nav #home{
    width: 70px;
    height: 70px;
  }
  
}
@include breakpoint(large){
  .main-header .grid-container #planet-content{
    width: 50%;
    right: 15%;
  }
}
@include breakpoint(xlarge)
{
  .main-header #hamburger-menu{
    bottom: 14px;
  }
  .c2a-button .material-icons-outlined{
    right: -30px;
  }
  .c2a-button .material-icons-outlined:last-of-type{
    right: 30px;
  }
  .c2a-button p{
    opacity: 0;
    font-size: 30px;
    opacity: 0;
  }
  .main-header h2{
    font-size: 1.5rem;
  }
  .main-header h1:after{
    height: 90px;
    bottom: -58px;
  }
  .main-header #boring-nav.expand-nav{
    width: 550px;
    padding-left: 30px;
  }
  .main-header #boring-nav{
    height: 60px;
  }
  .main-header #boring-nav .menu li a{
    padding: 1.2rem 0.7rem;
    font-size: 14px;
  }
  .main-header #boring-nav .menu{
    justify-content: space-evenly;
  }
  .main-header #boring-nav.expand-nav{
    background-color: transparent;
  }
  .main-header .grid-container #planet-content{
    position: relative;
    width: 100%;
    right: 0ex;
    top: 0;
  }
  .main-header .grid-container .planet-nav #home-nav #home{
    background-image: url(assets/images/planets/earth-mapDesktop.jpeg);
    animation: rotatehome 12s infinite linear;
    width: 450px;
    height: 450px;
  }
  .main-header .grid-container .planet-nav #cloudyne{
    animation: rotatecloudyne 5s infinite linear;
  }
  .main-header .grid-container .planet-nav #about{
    animation: rotateabout 9s infinite linear;
  }
  .main-header .grid-container .planet-nav #experience{
    animation: rotateexperience 4s infinite linear;
  }
  .main-header .grid-container .planet-nav #contact{
    animation: rotatecontact 15s infinite linear;
  }
}