/*
----------------------------------------------------------------------
Animation / KeyFrames
----------------------------------------------------------------------
*/

/*Header-Planets-Spin(Move Background Image Left to Right)*/
@keyframes rotatehome {
  0% { background-position: 0px; }
  100% { background-position: 900px; }
}
@keyframes rotateabout {
  0% { background-position: 0px; }
  100% { background-position: 100px; }
}
@keyframes rotatecloudyne {
  0% { background-position: 0px; }
  100% { background-position: 200px; }
}
@keyframes rotateexperience {
  0% { background-position: 0px; }
  100% { background-position: 150px; }
}
@keyframes rotatecontact {
  0% { background-position: 0px; }
  100% { background-position: 50px; }
}
/*Shooting Stars*/
@keyframes tail {
  0% { width: 0; }
  30% { width: 100px; }
  100% { width: 0; }
}
@keyframes shining {
  0% { width: 0; }
  50% { width: 30px; }
  100% { width: 0; }
}
@keyframes shooting {
  0% { transform: translateX(0); }
  100% { transform: translateX(1200px); }
}
/*Header Main Button / Overlay Button*/
@keyframes buttonFlash {
  0% { color: $secondary-color; }
  50%{ color: goldenrod; }
  100% { color: $secondary-color; }
}
/*Sticky Navigation*/
@keyframes Flicker{
  0%{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(236, 236, 236, 0.30);
    box-shadow: 0px 0px 3px 0px rgba(236, 236, 236, 0.30);
  } 25%{
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #ececec;
    box-shadow: 0px 0px 3px 0px $light-gray;
  } 75%{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(236, 236, 236, 0.30);
    box-shadow: 0px 0px 3px 0px rgba(236, 236, 236, 0.30);
  } 100%{
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #ececec;
    box-shadow: 0px 0px 3px 0px $light-gray;
  }
}
/*HyperDrive*/
@keyframes move {
  0%{ transform: translateZ(-500px) rotate(0deg); }
  100%{ transform: translateZ(500px) rotate(0deg); }
}
@keyframes fade {
  0%{ opacity: 0}
  25%{ opacity: 0.2; }
  75%{ opacity: 0.2; }
  100%{ opacity: 0; }
}
@keyframes opacity {
  0%{ opacity: 0}
  100%{ opacity: 1; }
}
/*Section Background Planets*/
@keyframes slowSpin {
  0%{ background-position: 0px; }
  100%{ background-position: 1300px; }
}
/*Greeting Pulse*/
@keyframes greetingPulse {
  0%{ box-shadow: 0px 0px 10px 8px $primary-color; }
  25%{ box-shadow: 0px 0px 10px 13px $primary-color; }
  75%{ box-shadow: 0px 0px 10px 13px $primary-color; }
  100%{ box-shadow: 0px 0px 10px 8px $primary-color; }
}
@keyframes glowContainerFlicker {
  0%{ box-shadow: inset 0px 0px 25px 1px $primary-color, 0px 0px 10px 1px $primary-color; }
  100%{ box-shadow: inset 0px 0px 24px 1px $primary-color, 0px 0px 9px 1px $primary-color; }
}
@keyframes glowTubeFlicker {
  0%{ box-shadow: inset -3px 0px 7px 1px $primary-color, 0px 0px 10px 1px $primary-color; }
  100%{ box-shadow: inset -3px 0px 5px 1px $primary-color, 0px 0px 8px 1px $primary-color; }
}
/*Cloudyne Supernova*/
@keyframes cloudyne-hideTop{
  from{ 
    opacity: 1;
    top: 0px;
  } to{
    opacity: 0;
    top: -140px;
  }
}
@keyframes cloudyne-hideBottom{
  from{
    opacity: 1;
    bottom: 0px;
  } to{
    opacity: 0;
    bottom: -240px;
  }
}
@keyframes supernova-logoExpand{
  0%{
    opacity: 0;
    top: -20px;
  } 50%{
    opacity: 0;
  } 100%{
    opacity: 1;
    top: -120px;
  }
}
@keyframes supernova-likesExpand{
  0%{
    opacity: 0;
    left: -90px;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    left: -310px;
  }
}
@keyframes supernova-websiteExpand{
  0%{
    opacity: 0;
  } 50%{
    opacity: 0;
  } 100%{
    opacity: 1;
  }
}
@keyframes supernova-dislikesExpand{
  0%{
    left: -90px;
    opacity: 0;
  } 50%{
    opacity: 0;
  } 100%{
    left: 125px;
    opacity: 1;
  }
}
@keyframes supernova-descExpand{
  0%{
    top: -40px;
    opacity: 0;
  } 50%{
    opacity: 0;
  } 100%{
    top: 90px;
    opacity: 1;
  }
}
@keyframes blink-novaStar{
  0%{
    opacity: 0.7;
  } 50%{
    opacity: 1;
  } 100%{
    opacity: 0.7;
  }
}
@keyframes supernova-activeSun{
  0%{
    transform: scale(1);
  } 50%{
    transform: scale(1.2);
  } 100%{
    transform: scale(0);
  }
}
@keyframes supernova-activeNova{
  from{ transform: scale(0); } 
  to{ transform: scale(1); }
}
/*Experience - Orbit Rotation*/
@keyframes eduCircleSpin{
  from{ transform: rotateZ(0deg); }
  to{ transform: rotateZ(360deg); }
}
/*Contact - Input firled*/
@keyframes contact-fadeinSlide{
  0%{ top: -130px; }
  50%{ opacity: 0; }
  100%{
    opacity: 1;
    top: 0px; }
}